## **Exercícios de Python**

115 exercícios para quem está aprendendo Python, do iniciante ao intermediário.

Por Gustavo Guanabara, do canal [Curso em Vídeo](https://www.youtube.com/c/CursoemV%C3%ADdeo) no YouTube.

*Resolução por Jessica Silva.*

### **Do exercício 001 ao exercício 030:**

001: imprimir mensagens.

In [ ]:
print('Oi mundo!')

Oi mundo!

In [ ]:
msg = 'Oi mundo!'
print(msg)

Oi mundo!

002: respondendo ao usuário.

In [ ]:
nome = input('Digite seu nome: ')
print(f'É um prazer te conhecer, {nome}!')

Digite seu nome: Jessica
É um prazer te conhecer, Jessica!

In [ ]:
nome = input('Digite seu nome: ')
print('É um prazer te conhecer, {}!'.format(nome))

Digite seu nome: Jessica
É um prazer te conhecer, Jessica!

003: somando dois números.

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))

soma = n1 + n2
print(f'A soma entre {n1} e {n2} é igual a: {soma}')

Digite um valor: 44
Digite outro valor: 32
A soma entre 44 e 32 é igual a: 76

In [ ]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))

soma = n1 + n2
print('A soma entre {} e {} é igual a: {}'.format(n1, n2, soma))

Digite um valor: 44
Digite outro valor: 32
A soma entre 44 e 32 é igual a: 76

004: dissecando uma variável.

In [ ]:
x = input('Digite alguma coisa: ')

print('O tipo desse valor é', type(x))
print('Só tem espaços?', x.isspace())
print('É um número?', x.isnumeric())
print('É alfabético?', x.isalpha())
print('É alfanumérico?', x.isalnum())
print('Está em maiúsculo?', x.isupper())
print('Está em minúsculo?', x.islower())
print('Está capitalizada?', x.istitle())

Digite alguma coisa: 739
O tipo desse valor é <class 'str'>
Só tem espaços? False
É um número? True
É alfabético? False
É alfanumérico? True
Está em maiúsculo? False
Está em minúsculo? False
Está capitalizada? False

In [ ]:
x = input('Digite alguma coisa: ')

print('O tipo desse valor é', type(x))
print('Só tem espaços?', x.isspace())
print('É um número?', x.isnumeric())
print('É alfabético?', x.isalpha())
print('É alfanumérico?', x.isalnum())
print('Está em maiúsculo?', x.isupper())
print('Está em minúsculo?', x.islower())
print('Está capitalizada?', x.istitle())

Digite alguma coisa: Itália
O tipo desse valor é <class 'str'>
Só tem espaços? False
É um número? False
É alfabético? True
É alfanumérico? True
Está em maiúsculo? False
Está em minúsculo? False
Está capitalizada? True

005: antecessor e sucessor.

In [ ]:
numero = int(input('Digite um número: '))
antecessor = numero - 1
sucessor = numero + 1

print('O antecessor do número {} é {} e o sucessor é {}.'.format(numero, antecessor, sucessor))

Digite um número: 8
O antecessor do número 8 é 7 e o sucessor é 9.

In [ ]:
numero = int(input('Digite um número: '))

print('O antecessor do número {} é {} e o sucessor é {}.'.format(numero, numero -1 , numero + 1))

Digite um número: 8
O antecessor do número 8 é 7 e o sucessor é 9.

006: dobro, triplo e raíz quadrada.

In [ ]:
num = int(input('Digite um número: '))

dobro = num * 2
triplo = num * 3
raiz_quadrada = num ** (1/2)

print(f'O dobro de {num} é igual a {dobro}.')
print(f'O triplo de {num} é igual a {triplo}.')
print(f'A raíz quadrada de {num} é igual a {raiz_quadrada}.')

Digite um número: 16
O dobro de 16 é igual a 32.
O triplo de 16 é igual a 48.
A raíz quadrada de 16 é igual a 4.0.

In [ ]:
num = int(input('Digite um número: '))

print('O dobro de {} é igual a {}.'.format(num, num * 2))
print('O triplo de {} é igual a {}.'.format(num, num * 3))
print('A raíz quadrada de {} é igual a {}.'.format(num, num ** (1/2)))

Digite um número: 16
O dobro de 16 é igual a 32.
O triplo de 16 é igual a 48.
A raíz quadrada de 16 é igual a 4.0.

007: média aritmética.

In [ ]:
nota1 = float(input('A primeira nota foi: '))
nota2 = float(input('A segunda nota foi: '))
media = (nota1 + nota2)/2

print(f'A média entre {nota1} e {nota2} é igual a {media}.')

A primeira nota foi: 5.5
A segunda nota foi: 8.5
A média entre 5.5 e 8.5 é igual a 7.0.

In [ ]:
nota1 = float(input('A primeira nota foi: '))
nota2 = float(input('A segunda nota foi: '))

print(f'A média entre {nota1} e {nota2} é igual a {(nota1 + nota2)/2}.')

A primeira nota foi: 5.5
A segunda nota foi: 8.5
A média entre 5.5 e 8.5 é igual a 7.0.

In [ ]:
nota1 = float(input('A primeira nota foi: '))
nota2 = float(input('A segunda nota foi: '))
media = (nota1 + nota2)/2

print('A média entre {:.1f} e {:.1f} é igual a {:.1f}.'.format(nota1, nota2, media))
#apenas 1 ponto flutuante após a virgula

A primeira nota foi: 5.5
A segunda nota foi: 2
A média entre 5.5 e 2.0 é igual a 3.8.

008: conversor de medidas.

In [ ]:
#km hm dam m dm cm mm

medida = float(input('Digite uma distância em metros: '))
dm = medida * 10
cm = medida * 100
mm = medida * 1000
dam = medida / 10
hm = medida / 100
km = medida / 1000

print(f'A medida de {medida} metros corresponde a {km} quilômetros e {cm} centímetros.')

Digite uma distância em metros: 4700
A medida de 4700.0 metros corresponde a 4.7 quilômetros e 470000.0 centímetros.

In [ ]:
medida = float(input('Digite uma distância em metros: '))
dm = medida * 10
cm = medida * 100
mm = medida * 1000
dam = medida / 10
hm = medida / 100
km = medida / 1000

print('A media de {} metros coresponde a {} quilômetros e {:.0f} centímetros'.format(medida, km, cm))

Digite uma distância em metros: 566
A media de 566.0 metros coresponde a 0.566 quilômetros e 56600 centímetros

009: tabuada.

In [ ]:
numero = int(input('Digite um número para ver a sua tabuada: '))

print('{} x {} = {}'.format(numero, 0, numero*0))
print('{} x {} = {}'.format(numero, 1, numero*1))
print('{} x {} = {}'.format(numero, 2, numero*2))
print('{} x {} = {}'.format(numero, 3, numero*3))
print('{} x {} = {}'.format(numero, 4, numero*4))
print('{} x {} = {}'.format(numero, 5, numero*5))
print('{} x {} = {}'.format(numero, 6, numero*6))
print('{} x {} = {}'.format(numero, 7, numero*7))
print('{} x {} = {}'.format(numero, 8, numero*8))
print('{} x {} = {}'.format(numero, 9, numero*9))
print('{} x {} = {}'.format(numero, 10, numero*10))

Digite um número para ver a sua tabuada: 9
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

010: conversor de moedas.

In [ ]:
#considerando 1 dolar a 5,3 reais

real = float(input('Quanto de dinheiro você tem? R$'))
dolar = real/5.30

print('Com {:.2f} reais, você pode comprar {:.2f} dolares.'.format(real, dolar))

Quanto de dinheiro você tem? R$25
Com 25.00 reais, você pode comprar 4.72 dolares.

In [ ]:
#considerando 1 euro a 6,45 reais

real = float(input('Quanto de dinheiro você tem? R$'))
euro = real/6.45

print('Com {:.2f} reais, você pode comprar {:.2f} euros.'.format(real, euro))

Quanto de dinheiro você tem? R$25
Com 25.00 reais, você pode comprar 3.88 euros.

In [ ]:
#considerando 1 libra a 7,50

real = float(input('Quanto de dinheiro você tem? R$'))
libras = real/7.50

print('Com {:.2f} reais, você pode comprar {:.2f} libras.'.format(real, libras))

Quanto de dinheiro você tem? R$25
Com 25.00 reais, você pode comprar 3.33 libras.

011: pintando parede.

In [ ]:
largura = float(input('Digite a largura da parede (em metros): '))
altura = float(input('Digite a altura da parede (em metros): '))

print('A sua parede tem dimensão {} x {} e a sua área é de {} m².'.format(largura, altura, largura*altura))
print('Para pintar essa parede, você vai precisar de {} litros de tinta.'.format((largura*altura)/2))

Digite a largura da parede (em metros): 4.5
Digite a altura da parede (em metros): 6
A sua parede tem dimensão 4.5 x 6.0 e a sua área é de 27.0 m².
Para pintar essa parede, você vai precisar de 13.5 litros de tinta.

In [ ]:
larg = float(input('Digite a largura da parede (em metros): '))
alt = float(input('Digite a altura da parede (em metros): '))
area = larg*alt
tinta = area/2

print(f'A sua parede tem dimensão {larg}x{alt} e a sua área é de {area}m².')
print(f'Para pintar essa parede, você vai precisar de {tinta} litros de tinta.')

Digite a largura da parede (em metros): 4.5
Digite a altura da parede (em metros): 6
A sua parede tem dimensão 4.5x6.0 e a sua área é de 27.0m².
Para pintar essa parede, você vai precisar de 13.5 litros de tinta.

012: calculando descontos.

In [ ]:
valor = float(input('Digite o preço do produto: R$'))
desconto = valor - (valor*(5/100))

print('Você ganhou 5% de desconto e vai pagar R${:.2f} pelo produto.'.format(desconto))

Digite o preço do produto: R$100
Você ganhou 5% de desconto e vai pagar R$95.00 pelo produto.

013: reajuste salarial.

In [ ]:
salario = float(input('Digite o seu salario: '))
reajuste = float(input('Digite a % do reajuste salarial: '))

novo_salario = salario + (salario*(reajuste/100))

print('Com o reajuste de {:.2f}$, o seu novo salário passa a ser de R${:.2f}.'.format(salario, novo_salario))

Digite o seu salario: 1000
Digite a % do reajuste salarial: 15
Com o reajuste de 1000.00$, o seu novo salário passa a ser de R$1150.00.

014: conversor de temperaturas.

In [ ]:
celcius = float(input('Qual a temperatura em graus °C? '))
fahrenheit = (9*celcius)/(5) + 32

print(f'A temperatura de {celcius}°C corresponde a {fahrenheit}°F.')

Qual a temperatura em graus °C? 40
A temperatura de 40.0°C corresponde a 104.0°F.

015: aluguel de carros.

In [ ]:
dias = int(input('Quantos dias alugados? '))
km = float(input('Quantos km foram percorridos? '))

valor = (60*dias) + (0.15*km)

print('O valor a ser pago é de R${:.2f}.'.format(valor))

Quantos dias alugados? 5
Quantos km foram percorridos? 2400
O valor a ser pago é de R$660.00.

016: quebrando um número.

In [ ]:
numero = float(input('Digite um valor: '))

print('O valor digitado foi {} e a sua porção inteira é {:.0f}.'.format(numero, numero))

Digite um valor: 1.2345
O valor digitado foi 1.2345 e a sua porção inteira é 1.

In [ ]:
import math

numero = float(input('Digite um valor: '))

print('O valor digitado foi {} e a sua porção inteira é {:.0f}.'.format(numero, math.trunc(numero)))

Digite um valor: 1.2345
O valor digitado foi 1.2345 e a sua porção inteira é 1.

017: catetos e hipotenusa.

In [ ]:
cateto_oposto = float(input('Digite o comprimento do cateto oposto: '))
cateto_adjacente = float(input('Digite o comprimento do cateto adjacente: '))

hipotenusa = (cateto_oposto ** 2 + cateto_adjacente ** 2) ** (1/2)

print('A hipotenusa mede {:.2f}.'.format(hipotenusa))

Digite o comprimento do cateto oposto: 2
Digite o comprimento do cateto adjacente: 2.5
A hipotenusa mede 3.20.

In [ ]:
import math

cateto_oposto = float(input('Digite o comprimento do cateto oposto: '))
cateto_adjacente = float(input('Digite o comprimento do cateto adjacente: '))

hipotenusa = math.hypot(cateto_oposto, cateto_adjacente)

print('A hipotenusa mede {:.2f}.'.format(hipotenusa))

Digite o comprimento do cateto oposto: 2
Digite o comprimento do cateto adjacente: 2.5
A hipotenusa mede 3.20.

In [ ]:
from math import hypot

cateto_oposto = float(input('Digite o comprimento do cateto oposto: '))
cateto_adjacente = float(input('Digite o comprimento do cateto adjacente: '))

hipotenusa = hypot(cateto_oposto, cateto_adjacente)

print('A hipotenusa mede {:.2f}.'.format(hipotenusa))

Digite o comprimento do cateto oposto: 2
Digite o comprimento do cateto adjacente: 2.5
A hipotenusa mede 3.20.

018: seno, cosseno e tangente.

*documentação: [math - Python](https://docs.python.org/3/library/math.html)*

In [ ]:
import math

angulo = float(input('Digite o ângulo: '))

seno = math.sin(math.radians(angulo))
print('O ângulo de {} tem o seno de {:.2f}.'.format(angulo, seno))

cosseno = math.cos(math.radians(angulo))
print('O ângulo de {} tem o cosseno de {:.2f}.'.format(angulo, cosseno))

tangente = math.tan(math.radians(angulo))
print('O ângulo de {} tem a tangente de {:.2f}.'.format(angulo, tangente))

Digite o ângulo: 30
O ângulo de 30.0 tem o seno de 0.50.
O ângulo de 30.0 tem o cosseno de 0.87.
O ângulo de 30.0 tem a tangente de 0.58.

In [ ]:
from math import radians, sin, cos, tan

angulo = float(input('Digite o ângulo: '))

seno = sin(radians(angulo))
print('O ângulo de {} tem o seno de {:.2f}.'.format(angulo, seno))

cosseno = cos(radians(angulo))
print('O ângulo de {} tem o cosseno de {:.2f}.'.format(angulo, cosseno))

tangente = tan(radians(angulo))
print('O ângulo de {} tem a tangente de {:.2f}.'.format(angulo, tangente))

Digite o ângulo: 30
O ângulo de 30.0 tem o seno de 0.50.
O ângulo de 30.0 tem o cosseno de 0.87.
O ângulo de 30.0 tem a tangente de 0.58.

019: sorteando um item na lista.

In [ ]:
import random

nome1 = str(input('Aluno 1: '))
nome2 = str(input('Aluno 2: '))
nome3 = str(input('Aluno 3: '))
nome4 = str(input('Aluno 4: '))

lista_de_alunos = [nome1, nome2, nome3, nome4]

escolhido = random.choice(lista_de_alunos)

print(f'O aluno escolhido foi {escolhido}.')

Aluno 1: Maria
Aluno 2: José
Aluno 3: Ana
Aluno 4: Guilherme
O aluno escolhido foi Ana.

020: sorteando uma ordem na lista.

In [ ]:
import random

nome1 = str(input('Aluno 1: '))
nome2 = str(input('Aluno 2: '))
nome3 = str(input('Aluno 3: '))
nome4 = str(input('Aluno 4: '))

lista_de_alunos = [nome1, nome2, nome3, nome4]

random.shuffle(lista_de_alunos)

print(f'A ordem de apresentação será: ', lista_de_alunos)

Aluno 1: Maria
Aluno 2: José
Aluno 3: Ana
Aluno 4: Guilherme
A ordem de apresentação será:  ['Guilherme', 'Ana', 'Maria', 'José']

~021: tocando um mp3.~

022: analisador de textos.

In [ ]:
nome = str(input('Digite o seu nome completo: '))

print('Analisando o seu nome...')

print('Seu nome em maiúsculo é {}.'.format(nome.upper()))
print('Seu nome em minúsculo é {}.'.format(nome.lower()))
print('Seu nome tem um total de {} letras.'.format(len(nome) - nome.count(' ')))
separado = nome.split()
print('Seu primeiro nome é {} e ele tem {} letras.'.format(separado[0], len(separado[0])))

Digite o seu nome completo: Luiz Inácio Lula da Silva
Analisando o seu nome...
Seu nome em maiúsculo é LUIZ INÁCIO LULA DA SILVA.
Seu nome em minúsculo é luiz inácio lula da silva.
Seu nome tem um total de 21 letras.
Seu primeiro nome é Luiz e ele tem 4 letras.

023: separando dígitos de um numero.

In [ ]:
num = int(input('Digite um número: '))
unidade = num // 1 % 10
dezena = num // 10 % 10
centena = num // 100 % 10
milhar = num // 1000 % 10

print(f'Analisando o número {num}...')
print(f'Unidade: {unidade}')
print(f'Dezena: {dezena}')
print(f'Centena: {centena}')
print(f'Milhar: {milhar}')

Digite um número: 256
Analisando o número 256...
Unidade: 6
Dezena: 5
Centena: 2
Milhar: 0

024: verificando as primeiras letras de um texto.

In [ ]:
#a cidade começa com a palavra 'Santo'?

cidade = str(input('Em qual cidade você nasceu? ')).strip().upper()

print(cidade[:5] == 'SANTO')

Em qual cidade você nasceu? Salvador
False

025: procurando uma string dentro da outra.

In [ ]:
nome = str(input('Qual seu nome completo? ')).strip().upper()

print('Tem "Silva" no seu nome?\n{}.'.format('SILVA' in nome))

Qual seu nome completo? Luiz Inácio Lula da Silva
Tem "Silva" no seu nome?
True.

026: a primeira e última ocorrência de uma string.

In [ ]:
frase = str(input('Digite uma frase qualquer: ')).strip().upper()

print('A letra A aparece {} vezes na frase.'.format(frase.count('A')))
print('A primeira letra A aparece na posição {}.'.format(frase.find('A')+1))
print('A última letra A aparece na posição {}.'.format(frase.rfind('A')+1))

Digite uma frase qualquer: Ararinha azul
A letra A aparece 4 vezes na frase.
A primeira letra A aparece na posição 1.
A última letra A aparece na posição 10.

027: primeiro e último nome da pessoa.

In [ ]:
nome = str(input('Qual seu nome completo? ')).strip().upper()

separado = nome.split()

print(separado)

print('O primeiro nome é: {}.'.format(separado[0]))
print('O último nome é: {}.'.format(separado[len(separado)-1]))

Qual seu nome completo? Luiz Inácio Lula da Silva
['LUIZ', 'INÁCIO', 'LULA', 'DA', 'SILVA']
O primeiro nome é: LUIZ.
O último nome é: SILVA.

028: jogo da adivinhação (v. 1)

In [ ]:
from random import randint

print('Vou pensar em um número entre 0 e 5...')
print('Tente adivinhar qual é o número...')

computador = randint(0, 5)

jogador = int(input('Qual o número você acha que eu pensei? '))

if jogador == computador:
  print('Parabéns, você acertou!')
else: 
  print('Você errou, eu venci!')
  print('Eu pensei no número {} e você disse {}.'.format(computador, jogador))

Vou pensar em um número entre 0 e 5...
Tente adivinhar qual é o número...
Qual o número você acha que eu pensei? 4
Você errou, eu venci!
Eu pensei no número 2 e você disse 4.

029: radar eletrônico.

In [ ]:
velocidade = float(input('Qual é a velocidade atual do carro? '))

ultrapassado = velocidade > 80

if ultrapassado:
  print('Você ultrapassou o limite de velocidade de 80km/h.')
  print('Você deve pagar uma multa de R${:.2f}.'.format((velocidade - 80) * 7))
  print('São R$7,00 de multa por cada km acima do limite.')
  print('Tenha um bom dia e dirija com segurança!')
else: 
  print('Tudo certo! Tenha um bom dia e dirija com segurança!')

Qual é a velocidade atual do carro? 115
Você ultrapassou o limite de velocidade de 80km/h.
Você deve pagar uma multa de R$245.00.
São R$7,00 de multa por cada km acima do limite.
Tenha um bom dia e dirija com segurança!

In [ ]:
velocidade = float(input('Qual é a velocidade atual do carro? '))

ultrapassado = velocidade > 80
multa = (velocidade - 80) * 7

if ultrapassado:
  print('Você ultrapassou o limite de velocidade de 80km/h.')
  print('Você deve pagar uma multa de R${:.2f}.'.format(multa))
  print('São R$7,00 de multa por cada km acima do limite.')
  print('Tenha um bom dia e dirija com segurança!')
else: 
  print('Tudo certo! Tenha um bom dia e dirija com segurança!')

Qual é a velocidade atual do carro? 85
Você ultrapassou o limite de velocidade de 80km/h.
Você deve pagar uma multa de R$35.00.
São R$7,00 de multa por cada km acima do limite.
Tenha um bom dia e dirija com segurança!

030: par ou ímpar?

In [ ]:
numero = int(input('Digite um número qualquer: '))

if numero % 2 == 0:
  print(f'O número {numero} é par.')
else:
  print(f'O número {numero} é ímpar.')

Digite um número qualquer: 16
O número 16 é par.